<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Обзор-данных" data-toc-modified-id="Обзор-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Обзор данных</a></span></li><li><span><a href="#Предобработка-данных" data-toc-modified-id="Предобработка-данных-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Предобработка данных</a></span><ul class="toc-item"><li><span><a href="#Удаление-пропусков" data-toc-modified-id="Удаление-пропусков-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Удаление пропусков</a></span></li><li><span><a href="#Обработка-аномальных-значений" data-toc-modified-id="Обработка-аномальных-значений-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Обработка аномальных значений</a></span></li><li><span><a href="#Удаление-пропусков-(продолжение)" data-toc-modified-id="Удаление-пропусков-(продолжение)-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Удаление пропусков (продолжение)</a></span></li><li><span><a href="#Изменение-типов-данных" data-toc-modified-id="Изменение-типов-данных-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Изменение типов данных</a></span></li><li><span><a href="#Обработка-дубликатов" data-toc-modified-id="Обработка-дубликатов-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Обработка дубликатов</a></span></li><li><span><a href="#Категоризация-данных" data-toc-modified-id="Категоризация-данных-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Категоризация данных</a></span></li></ul></li><li><span><a href="#Исследовательский-анализ" data-toc-modified-id="Исследовательский-анализ-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Исследовательский анализ</a></span><ul class="toc-item"><li><span><a href="#Зависимость-между-количеством-детей-и-возвратом-кредита-в-срок" data-toc-modified-id="Зависимость-между-количеством-детей-и-возвратом-кредита-в-срок-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Зависимость между количеством детей и возвратом кредита в срок</a></span></li><li><span><a href="#Зависимость-между-семейным-положением-и-возвратом-кредита-в-срок" data-toc-modified-id="Зависимость-между-семейным-положением-и-возвратом-кредита-в-срок-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Зависимость между семейным положением и возвратом кредита в срок</a></span></li><li><span><a href="#Зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок" data-toc-modified-id="Зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Зависимость между уровнем дохода и возвратом кредита в срок</a></span></li><li><span><a href="#Выясним,-как-разные-цели-кредита-влияют-на-его-возврат-в-срок" data-toc-modified-id="Выясним,-как-разные-цели-кредита-влияют-на-его-возврат-в-срок-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Выясним, как разные цели кредита влияют на его возврат в срок</a></span></li><li><span><a href="#Возможные-причины-появления-пропусков-в-исходных-данных" data-toc-modified-id="Возможные-причины-появления-пропусков-в-исходных-данных-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Возможные причины появления пропусков в исходных данных</a></span></li><li><span><a href="#Почему-заполнить-пропуски-медианным-значением-—-лучшее-решение-для-количественных-переменных?" data-toc-modified-id="Почему-заполнить-пропуски-медианным-значением-—-лучшее-решение-для-количественных-переменных?-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Почему заполнить пропуски медианным значением — лучшее решение для количественных переменных?</a></span></li></ul></li><li><span><a href="#Общий-вывод" data-toc-modified-id="Общий-вывод-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Общий вывод</a></span></li></ul></div>

# Исследование надёжности заёмщиков

**Заказчик** — кредитный отдел банка.

**Цель исследования** — разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок.

**Задачи. Нужно установить:**
* Есть ли зависимость между количеством детей и возвратом кредита в срок?
* Есть ли зависимость между семейным положением и возвратом кредита в срок?
* Есть ли зависимость между уровнем дохода и возвратом кредита в срок?
* Как разные цели кредита влияют на его возврат в срок?

**Входные данные от банка** — файл `data.csv` со статистикой о платёжеспособности клиентов.

**Результаты исследования** будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

<br>

<hr>

<br>

## Обзор данных

Импортируем библиотеку и прочитаем данные из папки `github` репозитория.

In [1]:
# импортируем библиотеку pandas
import pandas as pd

In [2]:
# прочитаем csv-файл
df = pd.read_csv('https://raw.githubusercontent.com/SweexFox/portfolio-projects/main/python-projects/2-borrowers-reliability/data.csv')

<br>

Выведем первые 20 строк датафрейма `df` на экран.

In [3]:
# метод head()
df.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

В глаза бросаются аномальные значения в колонке `days_employed`, выраженные отрицательными значениями. Нужно будет это устранить.

Также видны неявные дубликаты в колонне `education`, значения приведены в разном регистре.

<br>

Выведем основную информацию о датафрейме.

In [4]:
# метод info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

Имеем 12 колонок с разными типами данных и 21.525 строк.

Видны пропуски в `days_employed` и `total_income`.

Также в этих колонках видим неверный тип данных.

**Описание колонок:**

* `children` — количество детей в семье;
* `days_employed` — общий трудовой стаж в днях;
* `dob_years` — возраст клиента в годах;
* `education` — уровень образования клиента;
* `education_id` — идентификатор уровня образования;
* `family_status` — семейное положение;
* `family_status_id` — идентификатор семейного положения;
* `gender` — пол клиента;
* `income_type` — тип занятости;
* `debt` — имел ли задолженность по возврату кредитов. `0` — нет, `1` — да;
* `total_income` — ежемесячный доход;
* `purpose` — цель получения кредита

<br>

<hr>

<br>

## Предобработка данных

### Удаление пропусков

Выведем количество пропущенных значений для каждой колонны.

In [5]:
df.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

В двух колоннах есть пропущенные значения: `days_employed` — общий трудовой стаж в днях, `total_income` — ежемесячный доход.

<br>

На сумму дохода (`total_income`) сильнее всего влияет тип занятости (`income_type`), поэтому заполнить пропуски в этой колонке нужно медианным значением по каждому типу из колонки `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в колонне `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.

Заполним пропуски в колонке `total_income` в зависимости от значения в колонке `income_type`.

In [6]:
for i in df['income_type'].unique():
    df.loc[(df['income_type'] == i) & (df['total_income'].isna()), 'total_income'] = \
    df.loc[df['income_type'] == i, 'total_income'].median()

<br>

<br>

### Обработка аномальных значений

Как мы помним, есть аномалии в виде отрицательных значений в количестве дней трудового стажа колонны `days_employed`.

Обработаем значения в этой колонке.

In [7]:
# заменим все отрицательные значения положительными с помощью метода abs()
df['days_employed'] = df['days_employed'].abs()

<br>

Для каждого типа занятости выведем медианное значение трудового стажа `days_employed` в днях.

In [8]:
df.groupby('income_type')['days_employed'].median()

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получаются аномально большие значения. Исправить такие значения сложно, поэтому оставим их как есть. Тем более эти колонны не понадобятся нам для исследования.

<br>

Выведем перечень уникальных значений колонны `children`.

In [9]:
df['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

В колонне `children` есть два аномальных значения (-1 и 20).

<br>

Удалим из датафрейма строки, в которых встречаются такие аномальные значения.

In [10]:
df = df[(df['children'] != -1) & (df['children'] != 20)]

<br>

Убедимся, что артефакты удалены.

In [11]:
df['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

<br>

<br>

### Удаление пропусков (продолжение)

Теперь заполним пропуски в столбце `days_employed` медианными значениями по каждому типу занятости `income_type`.

In [12]:
for i in df['income_type'].unique():
    df.loc[(df['income_type'] == i) & (df['days_employed'].isna()), 'days_employed'] = \
    df.loc[df['income_type'] == i, 'days_employed'].median()

<br>

Убедимся, что все пропуски заполнены. Ещё раз выведем количество пропущенных значений для каждой колонны.

In [13]:
df.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

<br>

<br>

### Изменение типов данных

Заменим вещественный тип данных в колоннах `total_income` и `days_employed` на целочисленный.

In [14]:
# применим метод astype()
df[['total_income', 'days_employed']] = df[['total_income', 'days_employed']].astype(int)

<br>

<br>

### Обработка дубликатов

Обработаем неявные дубликаты в колонне `education`. В ней есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведём их к нижнему регистру.

In [15]:
df['education'] = df['education'].str.lower()

<br>

Выведем количество строк-дубликатов в данных.

In [16]:
df.duplicated().sum()

71

71 дубль. Удалим их.

In [17]:
df = df.drop_duplicates().reset_index(drop=True)

<br>

<br>

### Категоризация данных

На основании диапазонов, указанных ниже, создадим в датафрейме `df` колонну `total_income_category` с категориями:

- 0–30.000 — `'E'`;
- 30.001–50.000 — `'D'`;
- 50.001–200.000 — `'C'`;
- 200.001–1.000.000 — `'B'`;
- 1.000.001 и выше — `'A'`.


Например, кредитополучателю с доходом 25.000 нужно назначить категорию `'E'`, а клиенту, получающему 235.000, — `'B'`.

In [18]:
# используем собственную функцию с именем `categorize_income()`
def categorize_income(income):
    if income <= 30000:
        return 'E'
    elif income <= 50000:
        return 'D'
    elif income <= 200000:
        return 'C'
    elif income <= 1000000:
        return 'B'
    else:
        return 'A'

In [19]:
# методом apply() применим функцию categorize_income к каждому элементу колонки total_income
df['total_income_category'] = df['total_income'].apply(categorize_income)

<br>

Выведем на экран перечень уникальных целей взятия кредита из колонны `purpose`.

In [20]:
df['purpose'].sort_values().unique()

array(['автомобили', 'автомобиль', 'высшее образование',
       'дополнительное образование', 'жилье',
       'заняться высшим образованием', 'заняться образованием',
       'на покупку автомобиля', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля', 'на проведение свадьбы',
       'недвижимость', 'образование', 'операции с жильем',
       'операции с коммерческой недвижимостью',
       'операции с недвижимостью', 'операции со своей недвижимостью',
       'покупка жилой недвижимости', 'покупка жилья',
       'покупка жилья для сдачи', 'покупка жилья для семьи',
       'покупка коммерческой недвижимости', 'покупка недвижимости',
       'покупка своего жилья', 'получение высшего образования',
       'получение дополнительного образования', 'получение образования',
       'приобретение автомобиля', 'профильное образование',
       'ремонт жилью', 'свадьба', 'свой автомобиль',
       'сделка с автомобилем', 'сделка с подержанным автомобилем',
       'строительство жилой недвижимости', 'строительство недвижимости',
       'строительство собственной недвижимости', 'сыграть свадьбу'],
      dtype=object)

<br>

Создадим функцию, которая на основании данных из колонны `purpose` сформирует новую колонну `purpose_category`, в которую войдут следующие категории:

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

Например, если в колонне `purpose` находится подстрока `'на покупку автомобиля'`, то в колонне `purpose_category` должна появиться строка `'операции с автомобилем'`.

Для этого нужно изучить данные в столбце `purpose` и определить, какие подстроки помогут правильно определить категорию.

In [21]:
# используем собственную функцию с именем `categorize_purpose()`
def categorize_purpose(purpose):
    if 'автомоб' in purpose:
        return 'операции с автомобилем'
    elif 'недвиж' in purpose or 'жил' in purpose:
        return 'операции с недвижимостью'
    elif 'свадьб' in purpose:
        return 'проведение свадьбы'
    elif 'образов' in purpose:
        return 'получение образования'
    else:
        return 'другое'

In [22]:
# методом apply() применим функцию categorize_purpose к каждому элементу колонки purpose 
df['purpose_category'] = df['purpose'].apply(categorize_purpose)

<br>

<hr>

<br>

## Исследовательский анализ

### Зависимость между количеством детей и возвратом кредита в срок

Для этого построим сводную таблицу.

In [23]:
# построение сводной таблицы
pt_1 = df.pivot_table(index='children', values='debt', aggfunc=('count', 'sum'))
pt_1.columns = ['free_people', 'debtors']
pt_1['debt_percent'] = round(pt_1['debtors'] / pt_1['free_people'] * 100, 2)
pt_1.sort_values(by='debt_percent', ascending=False)

          free_people  debtors  debt_percent
children
4                  41        4          9.76
2                2052      194          9.45
1                4808      444          9.23
3                 330       27          8.18
0               14091     1063          7.54
5                   9        0          0.00

**Описание колонн таблицы:**
* `free_people` — заёмщики, выплатившие кредит в срок;
* `debtors` — заёмщики-должники;
* `debt_percent` — процент заёмщиков-должников.

**Вывод:** 
Самыми "добросовестными" оказались те, у кого нет детей. Ну а те, у кого по 4 ребёнка, оказались самыми "злостными должниками", а семьи с одним и двумя детьми не сильно "отстают" от них.

Однако те люди, у кого пятеро детей, не имеют задолженности. Но таких людей слишком мало, чтобы по ним делать выводы.

Есть зависимость между количеством детей и возвратом кредита в срок. Кредит лучше давать людям без детей.

<br>

### Зависимость между семейным положением и возвратом кредита в срок

Для этого построим сводную таблицу.

In [24]:
# построение сводной таблицы
pt_2 = df.pivot_table(index='family_status', values='debt', aggfunc=('count', 'sum'))
pt_2.columns = ['free_people', 'debtors']
pt_2['debt_percent'] = round(pt_2['debtors'] / pt_2['free_people'] * 100, 2)
pt_2.sort_values(by='debt_percent', ascending=False)

                       free_people  debtors  debt_percent
family_status
Не женат / не замужем         2796      273          9.76
гражданский брак              4134      385          9.31
женат / замужем              12261      927          7.56
в разводе                     1189       84          7.06
вдовец / вдова                 951       63          6.62

**Описание колонн таблицы:**
* `free_people` — заёмщики, выплатившие кредит в срок;
* `debtors` — заёмщики-должники;
* `debt_percent` — процент заёмщиков-должников.

**Вывод:** Вдовец/вдова более ответственно относятся к выплачиванию кредитов. Страдание всегда ведёт к развитию.

А вот те, кто в гражданском браке и те, кто не женат/не замужем, чаще остаются в должниках.

Да, зависимость возврата кредита в срок от семейного положения также есть.

<br>

### Зависимость между уровнем дохода и возвратом кредита в срок

Узнаем количество заёмщиков, выплативших долг вовремя, а также их медианных доход.

In [25]:
# кол-во заёмщиков, выплативших долг вовремя
df[df['debt'] == 0]['debt'].count()

19599

In [26]:
# их медианный доход
df[df['debt'] == 0]['total_income'].median()

142594.0

Количество заёмщиков, выплативших долг вовремя — `19.599 человек`.\
Их медианных доход — `142.594 ₽`.

Узнаем количество заёмщиков-должников, а также их медианный доход.

In [27]:
# кол-во заёмщиков-должников
df[df['debt'] == 1]['debt'].count()

1732

In [28]:
# их медианный доход
df[df['debt'] == 1]['total_income'].median()

142594.0

Количество заёмщиков-должников — `1.732 человека`.\
Их медианных доход также равен `142.594 ₽`.

**Вывод:** очень странно, но у должников и выплативших вовремя абсолютно одинаковая медианная зарплата.

Здесь зависимости между уровнем дохода и возвратом кредита в срок не видно.

Также построим сводную таблицу по категориям дохода.

In [29]:
# построение сводной таблицы
pt_3 = df.pivot_table(index='total_income_category', values='debt', aggfunc=('count', 'sum'))
pt_3.columns=['free_people', 'debtors']
pt_3['debt_percent'] = round(pt_3['debtors'] / pt_3['free_people'] * 100, 2)
pt_3.sort_values(by='debt_percent', ascending=False)

                       free_people  debtors  debt_percent
total_income_category
E                               22        2          9.09
C                            15921     1353          8.50
A                               25        2          8.00
B                             5014      354          7.06
D                              349       21          6.02

**Описание колонн таблицы:**
* `free_people` — заёмщики, выплатившие кредит в срок;
* `debtors` — заёмщики-должники;
* `debt_percent` — процент заёмщиков-должников.

Мы вычислили процент должников, применив ранее созданные категории для всех людей (кто сколько зарабатывает). Это позволило нам выявить зависимость между доходом и возвратом долга в срок.

**Сделаем вывод** по категориям B и C, так как они самые многочисленные. Богатые люди (B категория) меньше остаются в должниках, в то время как среди менее богатых (C категория) должники встречаются чаще.

<br>

### Выясним, как разные цели кредита влияют на его возврат в срок

Для этого построим сводную таблицу.

In [30]:
# построение сводной таблицы
pt_4 = df.pivot_table(index='purpose_category', values='debt', aggfunc=('count', 'sum'))
pt_4.columns = ['free_people', 'debtors']
pt_4['debt_percent'] = round(pt_4['debtors'] / pt_4['free_people'] * 100, 2)
pt_4.sort_values(by='debt_percent', ascending=False)

                          free_people  debtors  debt_percent
purpose_category
операции с автомобилем           4279      400          9.35
получение образования            3988      369          9.25
проведение свадьбы               2313      183          7.91
операции с недвижимостью        10751      780          7.26

**Описание колонн таблицы:**
* `free_people` — заёмщики, выплатившие кредит в срок;
* `debtors` — заёмщики-должники;
* `debt_percent` — процент заёмщиков-должников.

**Вывод:** более дурацкого кредита, чем кредита на свадьбу, не придумать. Тем не менее люди к нему относятся более ответственно, чем к кредиту на автомобиль. 

А вот к ипотеке люди ответственнее всего относятся, там меньше всего должников. Чего не скажешь про кредит на образование, там высокий процент должников (импульсивные покупки?)

### Возможные причины появления пропусков в исходных данных

Мы имеем пропуски в колоннах по ежемесячному доходу и общему трудовому стажу в днях.\
Вообще, по-хорошему, нужно точно знать, обязательно ли заполнять значения этих колонн.\
Значения по ежемесячному доходу могли быть пропущены, потому что человек не работал на тот момент.\
Вполне возможно, что и по этой причине пропущены значения по общему трудовому стажу.

### Почему заполнить пропуски медианным значением — лучшее решение для количественных переменных?

**Случайный список из работников Microsoft:**
1. Советник по технологиям - Билл Гейтс. Доход — 100.000.000\$
2. C#-разработчик - Кейн Веласкес. Доход — 100.000\$
3. Продуктовый аналитик - Ду Ху Чой. Доход — 90.000\$
4. Системный администратор - Иржи Прохазка. Доход — 70.000\$
5. Гардеробщик - Хосеп Гвардиола. Доход — 30.000\$
6. Уборщик - Юрген Клопп. Доход — 30.000$

В среднем они зарабатывают 16.720.000\\$. Уборщик и гардеробщик негодуют.\
Медианный же доход — 80.000\\$ — половина получает больше этой суммы, другая половина — меньше.
\
Медианный показатель всегда объективнее выражает ситуацию, чем среднее значение.

## Общий вывод

Кредитный отдел банка попросил нас разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. 

**Как семейное положение влияет на погашение:**
1. Разведённые и вдовцы/вдовы быстрее всех гасят кредит.
2. Не женатые/не замужние и состоящие в гражданском браке халатнее всего относятся к погашению кредита.  

**Как количество детей влияет на погашение:**
1. Семьи без детей чаще успевают гасить кредит в срок.
2. Семьи с одним, двумя и четырьмя детьми хуже всех платят в срок.

Рекомендую банку ценить больше семьи без детей, а также одиноких: разведённых, вдовцов и вдов. Эти категории вероятнее всего выплатят кредит в срок.

Особо выделю, что, по моему мнению, датасет нереалистичен:
1. у людей слишком высокая медианная зарплата для России;
2. что у должников, что у вовремя выплативших людей абсолютно одинаковая медианная зарплата.